**/src/main/groovy/META-INF/
**/src/main/webapp/WEB-INF/work
*.buf
*.class
*.iml
*.ipr
*.iws
*.log
*.lst
*.pyc
*.swo
*.swp
*/*/.gitignore
*/.gitignore
*/src/test/groovy/META-INF/
*eternity8*
*~
.DS_Store
.cache
.cache-main
.cache-tests
content.cache
.cj-mongo-trackdb.properties
.classpath
.externalToolBuilders
.groovy
.idea
.metadata
.project
.project.MSORG
.settings
.tags
.vimindex
/cjo/intranet-it/kafka-producer
/cjo/member-it/kafka-producer
/cjo/member/kafka-producer
NewCatalogUpdateListener.flag
advertiserCacheMap.json
assets.tar.gz
atlassian-ide-plugin.xml
b2b/*.tsv
b2b/processDir/
b2b2-export/*.txt
b2b2-export/NewCatalogUpdateListener.flag
cj-realnetwork-integration-oldVersion/src/generated-sources/
cj-realnetwork-integration/src/generated-sources/
cj.offer.ad.Ad/
cjo/mail-web/META-INF/
common-test/bin
core-ts-smoke-test/run-core-ts-smoke-test.sh
data-lib/database-extractor/dependency-reduced-pom.xml
data/datawarehouse/bucket/datawarehouse/
data/datawarehouse/flo/lib/
data/tasks.dat
data/tasks.dat.p
data/tasks.dat.t
database/src/cdc_cats_summaries_body.sql
database/src/crt_cdc_subscriber.sql
database/src/insertcontactuser.sql
database/test/ddl/*/final_cr_*_schema.sql
database/test/devdbLocal/devdb_grants_specific.sql
database/test/devdbLocal/devdb_init_specific.sql
database/test/devdbLocal/devdb_user_specific.sql
do_not_version_control
finance/payout.txt
idea_project_files/*
intranet/payout.txt
kafka.*[tT]est
kafkaTest/
member-web/node/
member-web/node_modules/
nohup.out
out/
overlays
payload-1.0-SNAPSHOT.one-jar.jar
payload.zip
product-api/product-domain/testFile
tags
tardis.modified.yaml
target/
test-container-*
test.jsx
tmp
trackdb.h2.db
trackdb.lock.db
tracking-internal-api-server/velocity.log*
**/dependency-reduced-pom.xml
uber-pom-creator-0.1.one-jar.jar
uberjar/pom.xml
velocity.log*
webservices-regression/stub_test/output.txt
ws-web/devenv
ztest-container-*
kafka-data/*
gen-java/
data-lib/kafka-producers/ap.invalidClicks/*
data-lib/kafka-producers/ts.impressions.dev/*
/track/map-ingester/metastore_db/
